PORT=3001
API_BASE_URL=http://localhost:3000
JWT_SECRET=your-super-secret-key-minimum-32-characters-long

PLAYWRIGHT_ADMIN_USERNAME=admin
PLAYWRIGHT_ADMIN_PASSWORD=adminpassword
PLAYWRIGHT_USER_USERNAME=user
PLAYWRIGHT_USER_PASSWORD=password
PLAYWRIGHT_USER_FULLNAME= firstname lastname