PORT=3001
API_BASE_URL=http://team2-back-app:3000
API_CONTAINER_URL=http://team2-back-app:3000
JWT_SECRET=your-super-secret-key-minimum-32-characters-long

PLAYWRIGHT_ADMIN_USERNAME=admin
PLAYWRIGHT_ADMIN_PASSWORD=adminpassword
PLAYWRIGHT_USER_USERNAME=user
PLAYWRIGHT_USER_PASSWORD=password
PLAYWRIGHT_USER_FULLNAME= firstname lastname
PLAYWRIGHT_USER_INCORRECT_PASSWORD=DifferentPassword123!
PLAYWRIGHT_BAND_ID=12345-abcde
PLAYWRIGHT_CAPABILITY_ID=67890-fghij