body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.footer {
	background:
		linear-gradient(180deg, #252d4f 0%, rgba(37, 45, 79, 0) 100%),
		linear-gradient(
			90deg,
			#004631 0.02%,
			#61a83f 27.47%,
			#61a83f 40.06%,
			#41679f 69.71%,
			#283583 100%
		);
	padding: 80px 0 0;
	margin-top: auto;
}

.container,
.container-fluid,
.container-md {
	width: 100%;
	padding-right: var(--bs-gutter-x, calc(min(3vw, 36px)));
	padding-left: var(--bs-gutter-x, calc(min(3vw, 36px)));
	margin-right: auto;
	margin-left: auto;
}
